doctype html
html
	head
		title Askew
		script(type="text/javascript", src="/scripts/cube.js")
		script(type="text/javascript", src="/scripts/themes.js")
		script(type="text/javascript", src="/scripts/askew.js")
		link(rel="stylesheet", type="text/css", href="/css/wireframe.css")
	body
		#scramble
		#timeDisplay
			span#seconds 0
			|.
			span#partials 00
		script(type="text/javascript").
			displayScramble();
			if(applyTheme) { applyTheme(); }
