* {
	padding: 0;
	margin: 0;
}

#scramble {
	text-align: center;
	padding: 0.7em;
	font-size: 1.5em;
	font-weight: 100;
	transition: opacity 0.15s ease-in;
}

#timeDisplay {
	text-align: center;
	font-size: 8em;
	line-height: 7.5em;
	line-height: calc(100vh - 1.5em);
}

#seconds {
	font-size: 1.5em;
}

@font-face {
	font-family: "Digital";
	src: url("/fonts/digital.ttf");
}

#settings {
	fill: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 3vw;
	height: 3vw;
	opacity: 0.4;
	transition: opacity 0.1s ease-in-out;
}

#settings:hover {
	opacity: 1;
}